* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
    
.max-width {
  max-width: 900px;
  margin: auto;
}

.container {
  margin-top: 70px; 
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
    
    /* navbar styling */
    
.navbar {
  position: fixed;
  width: 100%;
  padding: 18px 18px;
  z-index: 999;
  background-color: #2F4F4F;
  font-family: 'Poppins' sans-serif;
  transition: all 0.3s ease;
  height: 70px;
}
  
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}
  
.home {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 650px;
  height: 150px;
  background-color: #F5F5F5;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #2F4F4F;
}
    
.home .title {
  position: relative;
  text-align: center;
  font-size: 25px;
  font-family: 'Poppins' sans-serif;
  font-weight: 600;
  color: #2F4F4F;
  margin-top: 0px;
  text-decoration: underline;
}
    
.home .urlShort-desc {
  position: relative;
  text-align: center;
  font-size: 17px;
  font-family: 'Poppins' sans-serif;
  font-weight: 500;
  margin-top: 0px;
}
  
.container .utility-grid {
  height: 550px;
  width: 750px;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 3px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #C0C0C0;
}
  
.container .utility-grid .item {
  height: 520px;
  width: 700px;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
  background-color: #F5F5F5;
  box-shadow: 2px 2px 2px 2px #2F4F4F;
}

.container .utility-grid table {
  margin-top: 30px;
}
  
#longUrlInput {
  font-family: 'Poppins' sans-serif;
  font-weight: 500;
  font-size: 8px;
  color: #2F4F4F; 
  width: 680px;
  height: 30px;
  border: 2px solid #008B8B;
  text-align: center;
}
  
#convertBtn {
  width: 90px;
  border-radius: 7px;
}

#clearBtn {
  width: 90px;
  border-radius: 7px;
  float: right;
}
  
#resultTitle1 {
  font-family: 'Poppins' sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin-left: 10px;
  color: #2F4F4F;
  width: 100%;
}

#originalUrl {
  font-family: 'Poppins' sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding-left: 17px;
  color: #2F4F4F;
  width: 100%;
}
  
#shortUrl {
  font-family: 'Poppins' sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 10px;
  color: #2F4F4F;
  width: 100%;
}
  
.originalUrlClass {
  width: 430px;
  height: 50px;
}
  
.originalUrlTxt {
  width: 430px;
  height: 50px;
  padding-top: 15px;
  padding-left: 15px;
  overflow-x: hidden; 
  overflow-y: auto; 
}
  
.shortUrlClass {
  width: 220px;
  height: 50px;
}

.shortUrlTxt {
  width: 220px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
}
  
#getAllUrlBtn {
  width: 300px;
  height: 40px;
  font-size: 15px;
}

.urlSection {
  height: 200px;
  width: 700px;
  border-radius: 12px;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  display: none;
}
  
#originalUrlResult {
  width: 430px;
  font-family: 'Poppins' sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-left: 20px;
  color: #2F4F4F;
  width: 100%;
}
  
#shortUrlResult {
  width: 220px;
  font-family: 'Poppins' sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-left: 10px;
  color: #2F4F4F;
  width: 100%;
}
  
#table2 {  
  display: none;
}
  
#table2 tbody {
  background-color: #F5F5F5;
}
  
#errorSection {
  font-size: 20px;
  width: 600px;
  height: 120px;
  display: none;
}
  
#errorSection textarea {
  text-align: center;
  width: 600px;
  padding-top: 15px;
  height: 80px;
  font-weight: 600;
  color: #2F4F4F;
}

  
  
  
  
  
  
  
  